@model BreakdownYearViewModel

<h3 class="govuk-heading-m govuk-!-margin-top-5">Top industries in this job group</h3>
<p class="govuk-body">Find out which sectors or industries are the biggest employers of the job you are interested in. This can help you look for vacancies in the right places.</p>

@if (Model?.Breakdown != null && Model.Breakdown.Any())
{
    <partial name="_BreakdownTable" model="Model.Breakdown" view-data='@new ViewDataDictionary(ViewData) { { "ColumnHeading", "Industries" } }' />

    <partial name="_Source" model="Model.Year" />
}