@model BodyViewModel

<h1 class="govuk-heading-xl">Job group: @Html.Raw(Model.Title)</h1>
<p class="govuk-body">@Html.Raw(Model.Description)</p>
<h2 class="govuk-heading-m govuk-!-margin-top-5">How this information can help you</h2>
<p class="govuk-body">If you know what is happening in the labour market, it can help you to make realistic decisions about:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>what you want to do in your career</li>
    <li>what industry you want to work in</li>
    <li>how much you need to earn</li>
    <li>where you want to work</li>
    <li>qualifications and training you’ll need to do your job </li>
</ul>
<p class="govuk-body">The information on this page will give you the facts you need to help you make those decisions.</p>