@model BreakdownYearViewModel

<h3 class="govuk-heading-m govuk-!-margin-top-9">Employment by region</h3>
<p class="govuk-body">See which areas of the country have the most opportunities for the job you want to do. It can help you weigh up whether you're likely to get a job near home or if you could improve your chances by moving or travelling to another area.</p>

@if (Model?.Breakdown != null && Model.Breakdown.Any())
{
    <partial name="_BreakdownTable" model="Model.Breakdown" view-data='@new ViewDataDictionary(ViewData) { { "ColumnHeading", "Region" } }' />
}