@model QualificationLevelViewModel

<h3 class="govuk-heading-m govuk-!-margin-top-9">Qualification level</h3>
<p class="govuk-body">Explore the typical <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels"> qualification level </a>held by people in this job group.  This can help you to see what sorts of skills and training you might need.</p>

@if (Model != null)
{
    <div class="dfc-app-lmi-panel panel-green panel-qualifications">
        <div class="panel-header">
            <div class="govuk-grid-column-one-quarter panel-section-levels">
                <span class="govuk-!-font-size-19">Level</span> @Html.Raw(Model.LevelNumberFromName)
            </div>
            <div class="panel-section-description govuk-grid-column-three-quarters">
                <p class="govuk-body-m govuk-!-margin-bottom-1">The majority of those employed in this role will hold a BA/BSc degree with honours, degree apprenticeship, graduate diploma, Level @Html.Raw(Model.Name)</p>
            </div>
        </div>
    </div>

    <partial name="_Source" model="Model.Year" />
}