@model string

<hr class="govuk-section-break govuk-!-margin-top-9 govuk-section-break--visible">
<p class="govuk-body govuk-!-margin-top-2">
    <span class="govuk-!-font-weight-bold">Source:</span>
    LMI for all – last updated <span class="last-updated">@Model</span>. 
    To learn more about the labour market information we use, you can check our <a href="/help/information-sources" class="govuk-link">information sources</a>.
</p>