@model SideBarRightViewModel

<div class="job-profile-sidebar">
    <partial name="_SideBarRightJobProfiles" model="Model.JobProfiles" />
    <partial name="_SideBarRightJobSearch" />
</div>

<div class="job-profile-sidebar">
    <partial name="_SideBarRightSharedContent" model="Model.SharedContent" />
</div>